opensource_pipeline/ffmpeg.exe
opensource_pipeline/ffplay.exe
opensource_pipeline/ffprobe.exe
opensource_pipeline/original.wav
opensource_pipeline/user.wav
opensource_pipeline/ffmpeg.exe
opensource_pipeline/ffplay.exe
opensource_pipeline/ffprobe.exe
opensource_pipeline/original.wav
opensource_pipeline/user.wav
opensource_pipeline/ffmpeg-8.1/
__pycache__/
*.pyc
venv/
singing-coach-server/app/venv/
opensource_pipeline/ffmpeg.exe
opensource_pipeline/ffplay.exe
opensource_pipeline/ffprobe.exe
opensource_pipeline/original.wav
opensource_pipeline/user.wav
opensource_pipeline/ffmpeg-8.1/
__pycache__/
*.pyc
venv/
singing-coach-server/app/venv/
